.section.hero {
    .typography {
        padding-right: 1em;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.75vw;

        .custom-image {
            transform: scale(0);
            opacity: 0;
            border-radius: 3px;
            overflow: hidden;
            animation: getAnimationSpeed(.5s) popOut forwards;
        }
    }
}